$def with(m_vals)

$var title: OpenSprinkler Pi Sunrise Sunset Plugin
$var page: plugins
$code:
    snames = gv.snames

<script>
    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("#cSubmit").click(function() {
            jQuery("#pluginForm").submit();
        });
        jQuery("button#cCancel").click(function(){
            window.location="/";
        });

    });
</script>

<div id="plugin">
    <div class="title">Sunrise &amp; Sunset</div>
    <p>Fill out the info below to create and daily adjust a program based on your location</p>
    <form id="pluginForm" action="/uss" method="get">
        Enable this plugin: <input name='auto_ss' type='checkbox'${" checked" if m_vals['auto_ss'] == "on" else ""}> 
        <table class="optionList">
            <tr>
                <td style='text-transform: none; text-align: right;'>Zip Code:</td>
                <td><input type="text" name="zip" value=$m_vals["zip"]></td>
            </tr>
            <tr>
                <td style='text-transform: none; text-align: right;'>Station:$m_vals['station']</td>
                <td>
                    <select name="station">
                        $for bid in range(0,gv.sd['nbrd']):
                            $for s in range(0,8):
                                $ sid = bid*8 + s;
                                $if gv.sd['show'][bid]&(1<<s):
                                    $ c = ""
                                    $if m_vals['station'] == sid:
                                        $ c = "selected"
                                    <option value="${sid}" ${c} name="s${sid}" id="n${sid}">${snames[sid]} ${c}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style='text-transform: none; text-align: right;'>Start time before sunrise (mins):</td>
                <td><input type="text" name="srs" value=$m_vals["srs"]></td>
            </tr>
            <tr>
                <td style='text-transform: none; text-align: right;'>Start time after sunrise (mins):</td>
                <td><input type="text" name="sre" value=$m_vals["sre"]></td>
            </tr>
            <tr>
                <td style='text-transform: none; text-align: right;'>Start time before sunset (mins):</td>
                <td><input type="text" name="sss" value=$m_vals["sss"]></td>
            </tr>
            <tr>
                <td style='text-transform: none; text-align: right;'>End time (hh:mm):</td>
                <td><input type="text" name="sse" value=$m_vals["sse"]></td>
            </tr>
        </table>
        ${gv.pd}<br/>
        <hr>
        
    </form>
</div>
<div id="controls">
    <button id="cSubmit" class="submit"><b>Submit</b></button>
    <button id="cCancel" class="cancel danger">Cancel</button>
</div>